<%- include('partials/header', { title }) %>
  <section class="page page--safari">
    <div class="page__hero-img animate-slide-up">
      <img src="https://images.unsplash.com/photo-1516426122078-c23e76319801?w=900&q=80" alt="Jungle">
    </div>
    <h1><%= title %></h1>
    <p><%= message %></p>
  </section> 
<%- include('partials/footer') %>
